//File name: _variables.scss
// Variables
$font-family: 'Kode Mono', monospace;
$primary-color: #0C282B;
$secondary-color: #9E5327;
$tertiary-color: #505050;
$text-color-white: #FFFFFF;
$footer-color: #DE681D;
$border-color: lightgray;
$box-background-color: #eedddd;
$hover-brightness: 80%;
$tablet-width: 600px;
$desktop-width: 1024px;